<% provide(:title, I18n.t(:find_out)) %>

<div class="row" id="discover">
  <div class="col-md-8">
    <h1><%= t(:find_out) %></h1>
    <ul class="projects">
      <% @projects.each do |project| %>
        <li class="project" id="project-<%= project.id %>">
          <%= image_tag project.featured_picture, class: "project-index-featured-picture" if project.featured_picture? %>
          <div class="project-header" role="banner">
            <%= image_tag project.logo.thumb if project.logo? %>
            <h3><%= project.title %></h3>
          </div>

          <p><%= project.description %></p>

          <p class="text-muted"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= project.city %>, <%= project.country %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <div id="map" data-longitude="<%= @client_coordinates[0] %>" data-latitude="<%= @client_coordinates[1] %>"></div>
  </div>
</div>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<%= javascript_tag do %>
  $(document).ready(function() {

    var map,
          longitude = $('#map').data('longitude'),
          latitude = $('#map').data('latitude');
    var zoom = (longitude == 37.741) ? 1 : 9;

    L.mapbox.accessToken = 'pk.eyJ1IjoibmFjaG9wZSIsImEiOiI1NWU1NTU4ZWMwZDY0N2EzMzNjOWRmMzI0OWNkZWFmNiJ9.vJEDvTiigh5rONaLVEeOdQ';

    map = L.mapbox.map('map', 'nachope.a61a77e9').setView([longitude, latitude], zoom);
    map.scrollWheelZoom.disable();

    $.ajax({
      dataType: 'text',
      url: 'descubre.json',
      success: function(data) {
        var geojson;
        geojson = $.parseJSON(data);
        map.featureLayer.setGeoJSON(geojson);
      }
    });

    map.featureLayer.on('layeradd', function(e) {

      var marker, popupContent, properties;
      marker = e.layer;
      properties = marker.feature.properties;
      popupContent = '<div class="project-popup popup">';
      if (properties.logo !== "") {
        popupContent += '<div class="project-popup-logo"><img src="' + properties.logo + '"></div>';
      }
      popupContent += '<div class="project-popup-content">' + '<h3>' + properties.name + '</h3>';
      if (properties.address !== null) {
        popupContent += '<p>' + properties.address + '</p>';
      }

      popupContent += '<p>' + properties.city + ', ' + properties.province + ', ' + properties.country + '</p>';
      popupContent = popupContent + "</div>";

      map.featureLayer.eachLayer(function(marker) {
        var project_id = marker.feature.properties.project_id;
        $("#project-" + project_id).bind("click", function(e) {
          marker.feature.properties['marker-color'] = "#F00";
          marker.openPopup();
          map.setView(marker.getLatLng(), 12);
        });
      });

      marker.bindPopup(popupContent, {
        closeButton: true,
        minWidth: 320
      });

    });



    map.featureLayer.on('click', function(e) {
      var project_id = e.layer.feature.properties.project_id;
      $("li.project, li.project-full").hide();
      $("li#project-" + project_id).removeClass("project").addClass("project-full").show("slow");
    });

  });
<% end %>
