<% provide(:title, 'Entrar') %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Entrar</h1>

        <%= form_for(:session, url: login_path) do |f| %>
            <div class="form-group">
                <%= f.label :email, "Correo electrónico" %>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :password, "Contraseña" %>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.submit "Entrar", class: "btn btn-primary" %>
            </div>

            <p>¿No tienes una cuenta? <%= link_to 'Regístrate ahora', new_user_path %></p>
        <% end %>
    </div>
</div>
