<% provide(:title, @entity.name) %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @entity.entity_logo_url %>
    </div>
    <div class="col-md-9">
      <h1>
        <%= @entity.name %>
        <% if current_user && current_user.admin? %>
          <%= link_to t(:edit_entity), edit_entity_path(@entity), class: "btn btn-default" %>
        <% end %>
      </h1>
      <p class="text-muted"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @entity.city %></p>
      <p><%= @entity.bio %></p>
      <ul>
        <% if @entity.website.present? %>
          <li><%= link_to @entity.website, @entity.website, target: '_blank' %></li>
        <% end %>
        <% if @entity.twitter.present? %>
          <li><%= link_to @entity.twitter, @entity.twitter, target: '_blank' %></li>
        <% end %>
        <% if @entity.facebook.present? %>
          <li><%= link_to @entity.facebook, @entity.facebook, target: '_blank' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
