<%= div_for(event) do %>
  <div class="event-li-venue-info" style="background-image: url(<%= event.event_header_picture.eventlist.url %>)">
    <p><%= event.venue.city %></p>
  </div>
  <div class="event-li-event-info">
    <% if event.tag_list.any? %>
      <ul class="event-categories">
        <% event.tag_list.each do |tag| %>
          <li class="event-category"><%= link_to tag, tag_path(tag) %></li>
        <% end %>
      </ul>
    <% end %>
    <h3><%= link_to event.title, event_path(event) %></h3>

    <p><%= link_to event.venue.name, event.venue %></p>
    <%= time_tag event.daytime.to_date %>
    <p><%= event.daytime.to_formatted_s(:time) %></p>
    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= event.venue.province %>, <%= event.venue.country %></p>
  </div>
<% end %>
