<%= form_for(@event, html: { multipart: true }) do |f| %>

  <% if @event.errors.any? %>
    <div class="error_explanation">
      <div class="alert alert-danger">
        <%= t :messages, scope: "activerecord.errors", count: @event.errors.count %>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :venue_id, :value => @event.venue.id %>

  <div class="form-group">
    <%= f.label :event_header_picture %>
    <%= image_tag(@event.event_header_picture_url) if @event.event_header_picture? %>
    <%= f.file_field :event_header_picture %>
    <%= f.hidden_field :event_header_picture_cache %>
  </div>

  <div class="form-group">
    <p>
      <%= f.check_box :remove_event_header_picture %>
      <%= I18n.t(:remove_event_header_picture) %>
    </p>
  </div>

  <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :short_description %>
      <%= f.text_field :short_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, t(:event_tag_list) %>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :long_description %>
    <%= f.text_area :long_description, class: 'form-control tinymce', rows: 10 %>
    <%= tinymce %>
  </div>

  <div class="form-group">
    <%= f.label :event_body_picture %>
    <%= image_tag(@event.event_body_picture_url) if @event.event_body_picture? %>
    <%= f.file_field :event_body_picture %>
    <%= f.hidden_field :event_body_picture_cache %>
  </div>

  <div class="form-group">
    <p>
      <%= f.check_box :remove_event_body_picture %>
      <%= I18n.t(:remove_event_body_picture) %>
    </p>
  </div>

  <div class="form-group">
      <%= f.label :daytime%>
      <%= f.datetime_select :daytime, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :attendance_requirements %>
    <%= f.text_area :attendance_requirements, class: 'form-control tinymce', rows: 10 %>
    <%= tinymce %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>

  <h2><%= t(:sponsors) %></h2>

  <% User.all.each do |user| %>
    <div class="form-group">
      <%= check_box_tag :user_ids, user.id, @event.users.include?(user), name: 'event[user_ids][]' %>
      <%= label_tag :user_ids, user.name %>
    </div>
  <% end %>

  <% Entity.all.each do |entity| %>
    <div class="form-group">
      <%= check_box_tag :entity_ids, entity.id, @event.entities.include?(entity), name: 'event[entity_ids][]' %>
      <%= label_tag :entity_ids, entity.name %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>

<% end %>
