<%= form_for(@event, html: { multipart: true }) do |f| %>

  <% if @event.errors.any? %>
    <div class="error_explanation">
      <div class="alert alert-danger">
        <%= t :messages, scope: "activerecord.errors", count: @event.errors.count %>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :venue_id, :value => @event.venue.id %>

  <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :short_description %>
      <%= f.text_field :short_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :long_description %>
    <%= f.text_area :long_description, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :daytime%>
      <%= f.datetime_select :daytime, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :attendance_requirements %>
    <%= f.text_area :attendance_requirements, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
