<% provide(:title, @venue.name) %>

<% if current_user && current_user.admin? %>
  <%= render 'shared/admin_menu' %>
<% end %>

<%= div_for(@venue, class: "container-fluid") do |venue| %>

  <header class="row" role="banner">
    <div class="col-md-10 col-md-offset-1 venue-header" style='background-image: url(<%= venue.venue_picture.url %>)'>
      <div class="venue-header-text">
        <h1>
          <%= venue.name %>
          <% if logged_in? %>
            <%= link_to I18n.t(:edit_venue), edit_venue_path(venue), class: 'btn btn-default' %>
          <% end %>
        </h1>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">

    <div class="events-container">
      <h2>
        <%= t(:future_events) %>
      </h2>
      <% if logged_in? %>
        <p><%= link_to I18n.t(:new_event), new_event_path(venue: venue.id), class: 'btn btn-success', id: 'new-event-btn' %></p>
      <% end %>
      <% if @future_venue_events.any? %>
        <ul class="event-list">
            <%= render partial: 'venue_event', collection: @future_venue_events, as: :event %>
        </ul>
      <% else %>
        <p><%= t(:no_future_events) %></p>
      <% end %>
    </div>


    <% if @past_venue_events.any? %>
      <div class="events-container">
        <h2><%= t(:past_events) %></h2>
        <ul class="event-list">
          <% @past_venue_events.each do |event| %>
            <li><%= render partial: 'venue_event', collection: @past_venue_events, as: :event %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>

    <div class="col-md-4 venue-info">
      <div id="map">
      </div>
      <% if venue.address %>
        <p><%= venue.address %></p>
      <% end %>
      <p><%= venue.city %><%= ", #{venue.province}" unless venue.province.nil? %>, <%= venue.country %></p>
      <% if venue.phone? %>
        <p><%= venue.phone %></p>
      <% end %>
      <% if venue.website? %>
        <p><%= link_to venue.website, venue.website, target: "_blank" %></p>
      <% end %>
      <% if venue.twitter? %>
        <p><%= link_to "https://twitter.com/" + venue.twitter, "https://twitter.com/" + venue.twitter, target: "_blank" %></p>
      <% end %>
      <% if venue.facebook? %>
        <p><%= link_to venue.facebook, venue.facebook, target: "_blank" %></p>
      <% end %>
    </div>

  </div>

<% end %>

<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<%= javascript_tag do %>
  $(document).ready(function() {

    var map;

    L.mapbox.accessToken = 'pk.eyJ1IjoibmFjaG9wZSIsImEiOiI1NWU1NTU4ZWMwZDY0N2EzMzNjOWRmMzI0OWNkZWFmNiJ9.vJEDvTiigh5rONaLVEeOdQ';

    map = L.mapbox.map('map', 'nachope.mlcm20am', { accessToken: 'pk.eyJ1IjoibmFjaG9wZSIsImEiOiI1NWU1NTU4ZWMwZDY0N2EzMzNjOWRmMzI0OWNkZWFmNiJ9.vJEDvTiigh5rONaLVEeOdQ' }).setView([<%= @venue.latitude %> , <%= @venue.longitude %>], 15);
    map.scrollWheelZoom.disable();

    var featureLayer = L.mapbox.featureLayer({

      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [
          <%= @venue.longitude %>,
          <%= @venue.latitude %>
        ]
      },
      properties: {
        title: "<%= @venue.name %>",
        description: "<%= @venue.address %>, <%= @venue.city %>, <%= @venue.country %>",
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'cafe'
      }
    }).addTo(map);

  featureLayer.on('ready', function() {
    // featureLayer.getBounds() returns the corners of the furthest-out markers,
    // and map.fitBounds() makes sure that the map contains these.
    map.fitBounds(featureLayer.getBounds());
  });


  });
<% end %>
