<% provide(:title, @promo.name) %>

<div class="row">
	<div class="col-md-10 col-md-offset-1 promo-show">
		<div class="promo-show-image">
			<%= image_tag(@promo.promo_logo.url, alt: t(:promo_logo_alt, name: @promo.name)) if @promo.promo_logo? %>
		</div>
		<div class="promo-show-content">
			<h1>
				<%= @promo.name %>
				<% if current_user && current_user.admin? %>
					<%= link_to t(:edit_promo), edit_promo_path(@promo), class: "btn btn-default" %>
				<% end %>
			</h1>
			<% if @promo.categories.any? %>
				<ul class="promo_categories">
					<% @promo.categories.each do |category| %>
						<li><%= link_to category.name, category %></li>
					<% end %>
				</ul>
			<% end %>
			<p>
				<%= @promo.brief_product_description %>
			</p>
			<div class="promo-show-description">
				<p><%= @promo.brief_promo_description %></p>
			</div>
			<ul class="social-links">
				<li><%= link_to image_tag('social/website.png'), @promo.website, target: "_blank", title: t(:visit_web, project: @promo.name) if @promo.website?%></li>
				<li><%= link_to image_tag('social/twitter.png'), 'https://twitter.com/' + @promo.twitter, target: "_blank", title: t(:visit_twitter, project: @promo.name) if @promo.twitter?%></li>
				<li><%= link_to image_tag('social/facebook.png'), @promo.facebook, target: "_blank", title: t(:visit_facebook, project: @promo.name) if @promo.facebook? %></li>
			</ul>
		</div>
		<%= link_to I18n.t(:promo_button), '#', class: 'btn btn-warning btn-promo' %>
	</div>
</div>

<div class="row promo-show-details">
	<div class="col-md-10 col-md-offset-1">
		<%= image_tag(@promo.promo_featured_picture.url, alt: I18n.t(:promo_featured_picture_alt, name: @promo.name)) if @promo.promo_featured_picture? %>
		<% unless @promo.long_product_description.blank? %>
			<h3><%= Promo.human_attribute_name(:long_product_description) %></h3>
			<p><%= raw @promo.long_product_description %></p>
		<% end %>
		<% unless @promo.accessibility_options.blank? %>
			<h3><%= Promo.human_attribute_name(:accessibility_options) %></h3>
			<p><%= raw @promo.accessibility_options %></p>
		<% end %>
		<% unless @promo.about_the_promo.blank? %>
			<h3><%= Promo.human_attribute_name(:about_the_promo) %></h3>
			<p><%= raw @promo.about_the_promo %></p>
		<% end %>
		<% unless @promo.promo_requirements.blank? %>
			<h3><%= Promo.human_attribute_name(:promo_requirements) %></h3>
			<p><%= raw @promo.promo_requirements %></p>
		<% end %>
		<p class="promo-button-bottom"><%= link_to I18n.t(:promo_button), '#', class: 'btn btn-lg btn-warning' %></p>

	</div>
</div>
