<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Closefunding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="homepage-body">
    <%= render 'layouts/header' %>

    <div id="home" class="main">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert"><%= value %></div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>

<%= javascript_tag do %>
$(document).ready(function() {
  var map;
  L.mapbox.accessToken = 'pk.eyJ1IjoibmFjaG9wZSIsImEiOiI1NWU1NTU4ZWMwZDY0N2EzMzNjOWRmMzI0OWNkZWFmNiJ9.vJEDvTiigh5rONaLVEeOdQ';
  map = L.mapbox.map('map', 'nachope.a61a77e9').setView([37.741, -0.857], 2);
  map.scrollWheelZoom.disable();
  $.ajax({
    dataType: 'text',
    url: 'projects.json',
    success: function(data) {
      var geojson;
      geojson = $.parseJSON(data);
      return map.featureLayer.setGeoJSON(geojson);
    }
  });
  return map.featureLayer.on('layeradd', function(e) {
    var marker, popupContent, properties;
    marker = e.layer;
    properties = marker.feature.properties;
    popupContent = '<div class="project-popup popup">';
    if (properties.logo !== "") {
      popupContent += '<div class="project-popup-logo"><img src="' + properties.logo + '"></div>';
    }
    popupContent += '<div class="project-popup-content">' + '<h3>' + properties.name + '</h3>' + '<p>' + properties.description + '</p></div>';
    if (properties.featured_picture !== "") {
      popupContent += '<div class="project-popup-project-link"><a href="/projects/' + properties.project_id + '" class="btn btn-warning">Ir al proyecto</a></div>' + '<div class="project-popup-featured-picture"><img src="' + properties.featured_picture + '" /></div>';
    } else {
      popupContent += '<p class="project-popup-p-link"><a href="' + properties.website + '" target="_blank" class="btn btn-warning" style="color: #FFF;">Ir al proyecto</a></p>';
    }
    popupContent = popupContent + "</div>";
    return marker.bindPopup(popupContent, {
      closeButton: true,
      minWidth: 320
    });
  });
});
<% end %>
</body>
</html>
